[user]
	name = asuto15
	email = me@asuto.dev
[core]
	editor = nvim
[sequence]
	editor = nvim
[color]
	ui = true
[init]
	defaultBranch = main
[pull]
  rebase = false
  ff = only
[rerere]
  enabled = true
  autoUpdate = true
[commit]
	gpgsign = true
[push]
	default = current
