[user]
	name = asuto15
	email = me@asuto.dev
	signingkey = C847103BF1781E76
[core]
	editor = nvim
[sequence]
	editor = nvim
[color]
	ui = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	gpgsign = true
[push]
	default = current
