[user]
	name = asuto15
	email = sluggard0115@gmail.com
	signingkey = 690AB67B4751D0D6
[core]
	editor = nvim
[sequence]
	editor = nvim
[color]
	ui = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	gpgsign = true
